* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
    line-height: 1.6;
}


/* Header */

header {
    background: #0b2d5c;
    padding: 15px 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
}

.logo img {
    width: 60px;
    margin-right: 10px;
}

.logo h2 {
    font-size: 22px;
}


nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* Hero */

.hero {
    height: 90vh;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("construction.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero-content {
    color: white;
    max-width: 700px;
    padding: 20px;
}


.hero h1 {
    font-size: 45px;
    margin-bottom: 20px;
}


.hero p {
    font-size: 20px;
}



/* Buttons */

.btn {
    display: inline-block;
    margin: 25px 10px;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.whatsapp {
    background: #25D366;
}


.call {
    background: #f4b400;
}



/* Sections */

section {
    padding: 60px 10%;
    text-align: center;
}


section h2 {
    color: #0b2d5c;
    font-size: 35px;
    margin-bottom: 20px;
}



/* Services */

.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}


.card {
    background: #f5f5f5;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px #ddd;
}


.card h3 {
    color:#0b2d5c;
    margin-bottom: 10px;
}



/* Director */

.director {
    background:#0b2d5c;
    color:white;
}


.director h2,
.director h3 {
    color:#f4b400;
}



/* Footer */

footer {
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
}



/* Mobile */

@media(max-width:768px){

nav {
    flex-direction:column;
}

nav ul {
    margin-top:20px;
}

.cards {
    grid-template-columns:1fr;
}


.hero h1 {
    font-size:32px;
}

}